[user]
	name = inrace
	mail = mattia.buso@gmail.com
	email = mattia.buso@gmail.com
[credential]
	helper = cache --timeout=3600
[core]
	editor = vim
[color]
	status = auto
	branch = auto
	interactive = auto
	diff = auto
